<div class="menu">
  <ul>
    <li><%= link_to "物件登録", new_property_path, class:"menuLIST" %></li>
    <li><%= link_to "商品検索", root_path, class:"menuLIST" %></li>
    <li><%= link_to "商品登録", new_item_path, class:"menuLIST" %></li>
    <div class="user-list">
    <% if user_signed_in? %>
    <li><%= link_to current_user.name, "#", class: "user-name menuLIST" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, class:"menuLIST", method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path, class:"menuLIST" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "menuLIST" %></li>
    <% end %>
    </div>
  </ul>
</div>

<div class="contents">

<div class="search">
  <h3>物件を検索する</h3>
  <%= form_with url: search_properties_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword, placeholder: "物件名" %>
    <%= form.submit "検索" %>
  <% end %>
</div>


  <div class="record-prprerty">
    <h3>登録した物件</h3>
    <div class="property-lists">
        <% @properties.each do |property| %>
          <div class="property-list">
            <%= link_to property.property_name, property_path(property.id), class:"menuLIST" %>
            <%= property.address %>
          </div>
        <% end %>
    </div>
  </div>
</div>
