<div class="menu">
  <ul>
    <li><%= link_to "物件検索" , class:"menuLIST" %></li>
    <li><%= link_to "物件登録" %></li>
    <li><%= link_to "商品検索" %></li>
    <li><%= link_to "商品登録" %></li>
    <li class="logout"><%= link_to "ログアウト" %></li>
  </ul>
</div>
