<div class="contents">
  <div class="container">
    <h3>物件登録</h3>
    <%= form_with(model: @property, local: true) do |form| %>
    <div class="input-form">
      <div class="weight-bold-text">画像</div>
      <div class="property-image">
        <%= form.file_field :images, multiple: true, class:"item-image" %>
      </div>
      <div class="property-name form">
        <div class="weight-bold-text">物件名</div>
        <%= form.text_field :property_name, placeholder: "物件名" %>
      </div>
      <div class="address form">
        <div class="weight-bold-text">住所</div>
        <%= form.text_field :address, placeholder: "住所" %>
      </div>
      <div class="kinds form">
        <div class="weight-bold-text">物件情報</div>
        <%= form.collection_select(:property_kind_id, PropertyKind.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <div class="parking form">
        <div class="weight-bold-text">駐車場情報</div>
        <%= form.collection_select(:parking_id, Parking.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <div class="gas form">
        <div class="weight-bold-text">ガス種</div>
        <%= form.collection_select(:gas_id, Gas.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <div class="remarks form">
        <div class="weight-bold-text">備考</div>
        <%= form.text_area :remarks, placeholder: "備考", rows: "10", size: "53x10" %>
      </div>
      <%= form.submit "登録する" %>
    </div>
    <% end %>
  </div>
</div>