<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-property">物件名</th>
      <td class="detail-index"><%= @property.property_name %></td>
    </tr>
    <tr>
      <th class="detail-property">住所</th>
      <td class="detail-index"><%= @property.address %></td>
    </tr>
    <tr>
      <th class="detail-property">既存情報</th>
      <td class="detail-index"><%= @property.existing_information %></td>
    </tr>
    <tr>
      <th class="detail-property">新規機種</th>
      <td class="detail-index"><%= @property.new_information %></td>
    </tr>
    <tr>
      <th class="detail-property">駐車場情報</th>
      <td class="detail-index"><%= "hoge" %></td>
    </tr>
    <tr>
      <th class="detail-property">ガス種</th>
      <td class="detail-index"><%= "hoge" %></td>
    </tr>
    <tr>
      <th class="detail-property">備考</th>
      <td class="detail-index"><%= @property.remarks %></td>
    </tr>
  </tbody>
</table>

