<div class="contents">
<div class="container">
  <h3>部屋情報</h3>
    <table class="detail-table">
      <tr>
        <th class="detail-property">部屋番号</th>
        <td class="detail-index"><%= @room.room_number %></td>
      </tr>
      <tr>
        <th class="detail-property">工事内容</th>
        <td class="detail-index"><%= @room.construction_detail %></td>
      </tr>
      <tr>
        <th class="detail-property">工事時間</th>
        <td class="detail-index"><%= @room.construction_time.name %></td>
      </tr>
      <tr>
        <th class="detail-property">工事指示</th>
        <td class="detail-index"><%= @room.instruction %></td>
      </tr>
      <tr>
        <th class="detail-property">備考</th>
        <td class="detail-index"><%= @room.remarks_room %></td>
      </tr>
    </table>

    <% @room.images.each do |image| %>
      <div class="detail-property">画像</div>
      <div class="detail-index"><%= image_tag image.variant(resize: '400x400'), class: 'property-images' if @room.images.attached? %></div>
    <% end %>

  <div class="delete">
    <%= link_to '削除する', property_room_path(@property, @room.id),class:"menuLIST", method: :delete %>
  </div>
  <div class="edit">
    <%= link_to '編集', edit_property_room_path(@property.id, @room.id),class:"menuLIST", method: :get %>
  </div>
  <div class="jump-room">
    <%= link_to "アプローチを登録する", property_room_approaches_path(@property.id, @room.id), class:"menuLIST" %>
  </div>

    <div class="approaches">
      <h4>アプローチ</h4>
      <div class="approach-lists">
        <% @approach.each do |approach| %>
        <div class="approach-list">
          <div class="record">
            <div class="user-name"><%= approach.user.name %></div>
            <div class="create-day"><%= approach.created_at %></div>
          </div>
          <div class="approach-content"><%= approach.content %></div>
          <div class="delele-approach">
            <%= link_to '削除する',  property_room_approach_path(@property.id, @room.id, approach.id), class:"menuLIST", method: :delete %>
          </div>
        </div>
        <% end %>
    </div>
    </div>

  </div>
</div>