<div class="contents">
<div class="container">
<h3>部屋情報</h3>
<table class="detail-table">
    <tr>
      <th class="detail-property">部屋番号</th>
      <td class="detail-index"><%= @room.room_number %></td>
    </tr>
    <tr>
      <th class="detail-property">工事内容</th>
      <td class="detail-index"><%= @room.construction_detail %></td>
    </tr>
    <tr>
      <th class="detail-property">工事時間</th>
      <td class="detail-index"><%= "hoge" %></td>
    </tr>
    <tr>
      <th class="detail-property">工事指示</th>
      <td class="detail-index"><%= @room.instruction %></td>
    </tr>
    <tr>
      <th class="detail-property">備考</th>
      <td class="detail-index"><%= @room.remarks_room %></td>
    </tr>
</table>

<%= link_to "アプローチを登録する", property_room_approaches_path(@property.id, @room.id) %>
</div>
</div>